@import "../_base";
@import "../_mixins";

.message {
	padding: 6px 30px 3px 70px;
}

.reply {
	padding: 6px 0px 3px 30px;
}

.name {
  color: #bbb;
}

.time {
	color: #bbb;
	font-weight: 400;
	margin: 0 0 0 6px;
}

.today {
	color: #36a5d9;
}

.meta span, .meta a, .meta i {
	margin-right: 0.3em;
}

.action, .action span {
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
}

.message_count {
	margin: 0 4px;
  display: inline-block;
  position: relative;
  padding: 0px 3px;
  background: #fff;
  color: #999;
  border: #999 solid 1px;
  border-radius: 3px;
  @include arrow-left($width: 4px, $length: 4px, $background-color: #fff, $border-color: #999);
  font-size: 8pt;
  font-weight: normal;
}
