@import "../_base";

.nav_section {
	margin: 4px 0;
}

.nav_item {
	margin: 4px 0;

	a {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: .25em 0.5em;
		border-radius: .5em;
		color: #333;
		cursor: pointer;
		text-decoration: none;
		line-height: 1;

		&:hover {
			background-color: #ccc;
		}
	}
}

.nav_item_selected a {
	color: white;
	background-color: $lightgreen;

	&:hover {
		background-color: $lightgreen;
	}
}

.nav_title {
	font-weight: bold;
	cursor: pointer;
}

.nav_buttons {
	display: inline-block;
	padding-left: 8px;
}

.icon_button {
	cursor: pointer;
}
